<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center ;">
  <h1>
    Welcome to {{ title }}!
  </h1>
 <!-- basics of angular 
  <app-test (childEvent)="childMessage=$event" [parentData]='parentName'></app-test>
 {{childMessage}}
 -->  

<div class="container bg-light">
 <!--   SERVICES -->
 <div class="row">
   <div class="col-6">
     <app-employee-list></app-employee-list>
    </div>
  <div class="col-6">
      <app-employee-details></app-employee-details>
  </div>
  </div>
 
 
 </div>
</div>