<h2>welcome</h2>
<h2 [class]="suc" >channu BS</h2>
<h2 [ngClass]="msg" >channu BS</h2>

<button (click)= "onClick($event)">Greet</button>
<button (click)= "greeting='welcome channu'">Greet</button>

{{greeting}}
<br>
<br>
templateRefVar-----------------------------
<br>
<input type="text" #myId>
<button (click)="templateRefVar(myId.value)">
    templateRefVar
</button>
<br>
<br>
<input type="text" #myId1 >
<button (click)="templateRefVar(myId1)">
    templateRefVar
</button>

<br>
<br>
two way binding -----------------------------
<br>
<input [(ngModel)]="name" type="text">
{{name}}
<br>
<br>
ngIf Directive-----------------------------------
<br>
<h2 *ngIf='dispName; else elseBlocks'> channu BS</h2>
<br>
  template reference variable to else part
<ng-template #elseBlocks>
    <h2>
        name is hidden
    </h2>
</ng-template>
<br>
elseif syntax
<br>
<div *ngIf='dispName; then ifBlock;else elseBlock'></div>
<ng-template #ifBlock>
    <h2>channu</h2>
</ng-template>
<ng-template #elseBlock>
    <h2>hidden</h2>
</ng-template>
<br>
<br>
ngSwitch directive------------
<br>
<div [ngSwitch]='color'>
    <div *ngSwitchCase="'red'">you picked red color</div>
    <div *ngSwitchCase="'green'">you picked green color</div>
    <div *ngSwitchCase="'orange'">you picked orange color</div>
    <div *ngSwitchDefault>pick again</div>
</div>
<br>
<br>