<h2>welcome</h2>
<h2 [class]="suc" >channu BS</h2>
<h2 [ngClass]="msg" >channu BS</h2>

<button (click)= "onClick($event)">Greet</button>
<button (click)= "greeting='welcome channu'">Greet</button>

{{greeting}}
<br>
<br>
templateRefVar-----------------------------
<br>
<input type="text" #myId>
<button (click)="templateRefVar(myId.value)">
    templateRefVar
</button>
<br>
<br>
<input type="text" #myId1 >
<button (click)="templateRefVar(myId1)">
    templateRefVar
</button>

<br>
<br>
two way binding -----------------------------
<br>
<input [(ngModel)]="name" type="text">
{{name}}