<h2>welcome</h2>
<h2 [class]="suc" >channu BS</h2>
<h2 [ngClass]="msg" >channu BS</h2>

<button (click)= "onClick($event)">Greet</button>
<button (click)= "greeting='welcome channu'">Greet</button>

{{greeting}}
<br>
<br>
templateRefVar-----------------------------
<br>
<input type="text" #myId>
<button (click)="templateRefVar(myId.value)">
    templateRefVar
</button>
<br>
<br>
<input type="text" #myId1 >
<button (click)="templateRefVar(myId1)">
    templateRefVar
</button>

<br>
<br>
two way binding -----------------------------
<br>
<input [(ngModel)]="name" type="text">
{{name}}
<br>
<br>
ngIf Directive-----------------------------------
<br>
<h2 *ngIf='dispName; else elseBlocks'> channu BS</h2>
<br>
  template reference variable to else part
<ng-template #elseBlocks>
    <h2>
        name is hidden
    </h2>
</ng-template>
<br>
elseif syntax
<br>
<div *ngIf='dispName; then ifBlock;else elseBlock'></div>
<ng-template #ifBlock>
    <h2>channu</h2>
</ng-template>
<ng-template #elseBlock>
    <h2>hidden</h2>
</ng-template>
<br>
<br>
ngSwitch directive------------
<br>
<div [ngSwitch]='color'>
    <div *ngSwitchCase="'red'">you picked red color</div>
    <div *ngSwitchCase="'green'">you picked green color</div>
    <div *ngSwitchCase="'orange'">you picked orange color</div>
    <div *ngSwitchDefault>pick again</div>
</div>
<br>
<br>
ngFor Directive-----------------------------------
<div *ngFor="let col of colors">
    <h2>{{col}}</h2>
</div>
<br>
indexing <br>
<div *ngFor="let col of colors; index as i">
    <h2>{{i}} {{col}}</h2>
</div>
first element in the array or not <br>
<div *ngFor="let col of colors; first as f">
    <h2>{{f}} {{col}}</h2>
</div>
<br>
LAST element in the array or not <br>
<div *ngFor="let col of colors; last as l">
    <h2>{{l}} {{col}}</h2>
</div>
<br>
ODD element in the array  <br>
<div *ngFor="let col of colors; odd as o">
    <h2>{{o}} {{col}}</h2>
</div>
<br>
EVEN element in the array <br>
<div *ngFor="let col of colors; even as e">
    <h2>{{e}} {{col}}</h2>
</div>
<br><br>
<h1>component interaction </h1>
<br><hr> 
<h2>parent data used in child -> {{parentData}}</h2>
<h2>child to parent</h2><br>
<button (click)="fireEvent()">child data</button>
<hr>
<!--- pipes -->
<h1>PIPES</h1>
<hr>
<h3>string -> {{color}}</h3>
<h4>lowercase->{{color | lowercase}}</h4>
<h4>uppercase->{{color | uppercase}}</h4>
<h4>titlecase->{{color | titlecase}}</h4>
<h4>slice->slice:3 (from index)== {{color | slice:3}}</h4>
<h4>slice-> slice:1:4 (start index-> end index)== {{color | slice:1:4}}</h4>
<h4>json -> {{msg | json}}</h4>

<h4>number 5.568 -> {{5.568 | number:'1.2-3'}}</h4>
<h4>number 5.568 -> {{5.568 | number:'3.4-5'}}</h4>
<h4>number 5.568  -> {{5.568 | number:'3.1-2'}}</h4>
<h4>percent %  of 0.25 ->{{0.25 | percent }}</h4>
<h4>currency  -> {{0.25 | currency }}</h4>
<h4>currency GBP (great briton pounds) -> {{0.25 | currency:'GBP' }}</h4>
<h4>currency GBP without symbol (great briton pounds) -> {{0.25 | currency:'GBP':'code' }}</h4>
<h4>DATE-> {{date}}</h4>
<h4>DATE->short {{date | date:'short'}}</h4>
<h4>DATE->only date and only time {{date | date:'shortDate'}}</h4>
<h4>DATE->only date and only time {{date | date:'shortTime'}}</h4>
<br>------medium date and long date---
<h4>DATE-medium ==> {{date | date:'medium'}}</h4>
<h4>DATE-long--> {{date | date:'long'}}</h4>



