<div class="container">
    <div *ngIf="!error ; else errorBlock" class="card mt-2"  >
        <h1 class="card-title bg-light text-center display-2">
            <strong>{{emp.name}}</strong>
        </h1>
        
        <div class="card-body text-center">
            <h2>
                <span class="badge badge-light display-2 "> UserName : {{emp.username}}</span>
            </h2> 
            <h2>
                    <span class="badge badge-light display-2 "> Email : {{emp.email}}</span>
            </h2> 
            <h2>
                    <span class="badge badge-light display-2"> 
                        address : {{emp.address.street}} street 
                         {{emp.address.city}} 
                         {{emp.address.zipcode}}
                        </span> 
            </h2> 
            <h2>
                    <span class="badge badge-light display-2 "> Phone : {{emp.phone}}</span>   
            </h2> 
            <h2>
                    <span class="badge badge-light display-2 "> Website : {{emp.website}}</span>   
            </h2> 
        </div> 
            <div class="card-footer">
                <a (click)="goBack()" class="card-link float-left">Back</a>
                <a  (click)="goNext()"class="card-link float-right">Next</a>
            </div>
    </div>
    <ng-template #errorBlock>
            <div class="card mt-2"  >
                <h1 class="card-title bg-light text-danger text-center display-2">
                    Error
                </h1>
                <div class="card-body  text-center">
                    <h3 class="display-3">
                            DATA NOT FOUND OR ITS OVER
                    </h3>
                    <span class="text-muted">{{error}}</span>
                </div>
                
            </div>
    </ng-template>
</div>